@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f7f4;
  --foreground: #0f1a12;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply hover:opacity-60;
}
